{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
Profile
{% endblock %}
{% block css_block %}
<style>
    .section-about{
	width: 100%;
	/* min-height: 100vh; */
	background-color:rgba(221, 221, 221, 0.5);
    color: black;
	
}
.container-about{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container-about{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}

.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
@media screen and (min-width: 768px){
	.section-about{
	position: fixed;
}
}
.content p{
    color: rgb(58, 58, 58);
    font-size: 16px;
}

</style>
{% endblock %}
{% block body_block %}
<div class="section-about">
    <div class="container-about">
        <div class="content-section">
            <div class="title">
                <h1 style="color: maroon;">About Us</h1>
            </div>
            <div class="content">
                <h3>Our website is a trustable e-commerce website</h3>
                <p>This is a e-commerce website. You can buy product at home for user .For seller ,Seller can easily sell their product through our webpage.We try our best for making this website comportable for your visit.A group of developers work here to make website better performance </p>
                <!-- <div class="button">
                    <a href="">Read More</a>
                </div> -->
            </div>
            <!-- <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div> -->
        </div>
        <div class="image-section">
            <img src="/media/image/img one.jpg">
        </div>
    </div>
</div>
{% endblock %}