{% extends 'base.html' %}
{% block css_block %}
<style>
  .slider-two .product .site-btn:hover  .site-a {
  color: white;
}
</style>
{% endblock %}

{% block body_block %}
<main>
    <!-- First Slider -->
<div class="container-fluid p-0 ">
    <div class="site-slider">
      <div class="slider-one">
        <div style="width: 100%; height: 300px;" >
          <img src="/media/Caurosel/ban1.jpg" class="img-fluid w-100 h-100" alt="">
        </div>
        <div style="width: 100%; height: 300px;">
          <img src="/media/Caurosel/ban2.jpg" class="img-fluid w-100 h-100" alt="">
        </div>
        <div style="width: 100%; height: 300px;">
          <img src="/media/Caurosel/ban3.jpg" class="img-fluid w-100 h-100" alt="">
        </div>
      </div>
      <div class="slider-btn">
        <span class="prev position-top">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="next position-top right-0">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="messages container ">
      {% if messages %}
        {% for message in messages %}
          <div {% if message.tags %} class="alert mt-2 alert-{{message.tags}}{% endif %}" role="alert">
            {{message}} 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- Second Slider -->
  <div class="container-fluid ">
    <div class="site-slider-two px-md-4">
      <div class=" slider-two text-center" style="display: flex;">
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/jama1.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" >
           <a href="{% url 'App_Shop:also' pk=10 %}" class="site-a" style="color: black; ">Dress </a>  
          </span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/bag6.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" ><a href="{% url 'App_Shop:also' pk=5 %}" style="color: black;text-decoration: none;" >Bag </a></span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/make2.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" ><a href="{% url 'App_Shop:also' pk=11 %}" style="color: black;text-decoration: none;">Makeup Product </a></span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/shirt2.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" ><a href="{% url 'App_Shop:also' pk=6 %}" style="color: black;text-decoration: none;">T-Shirt </a></span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/watch1.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" > <a href="{% url 'App_Shop:also' pk=7 %}" style="color: black;text-decoration: none;">Watch </a> </span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/leather1.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" > <a href="{% url 'App_Shop:also' pk=8 %}" style="color: black;text-decoration: none;">Leather Belt </a> </span>
        </div>
        <!-- <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/jama1.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" >Jama</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-5 ">
          <img src="/media/img/jama1.jpg" alt="" width="100%" height="200px">
          <span class="border site-btn btn-span" >Jama</span>
        </div> -->
      </div>
      <div class="slider-btn">
        <span class="prev position-top">
          <i class="fa fa-angle-left fa-2x text-secondary" aria-hidden="true"></i>
        </span>
        <span class="next position-top right-0">
          <i class="fa fa-angle-right fa-2x text-secondary" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 0px;">
    <h3 style="text-align: center;">FEATURES PRODUCT</h3>
    {% for cata in catagory %}
    {% if cata.category.all %}
    <div class="container my-5">
        <div class="row">
            <div class="col-6">
                <h4 style="color: black;" >{{cata.title}} </h4>
            </div>
            <div class="col-6">
                {% if cata.category.count > 4 %}
                    <p style="text-align: right;margin-bottom: 0px;color: maroon;"  ><a href="{% url 'App_Shop:also' pk=cata.pk %}" >See More </a></p>
                {% endif %}
            </div>
            
        </div>
        
        <div class="row">
          
            
            {% for  product in cata.category.all %}
                {% if forloop.counter < 5 %}
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <figure class="card card-product">
                      <div class="img-wrap">
                        <img src="/media/{{product.mainimage}}" style="width:100%; height:300px;">
                      </div>
                      <figcaption class="info-wrap">
                        <h6 class="title"><a href="{% url 'App_Shop:product_detail' pk=product.pk %}">{{product.name}}</a></h6>
              
                        <div class="action-wrap">
                          <p  style="color:grey;font-size: 13px;font-weight: bold;"> <span>seller name: </span> <span>{{product.seller}}</span> </p>
                          <div class="price-wrap h5">
                            <span class="price-new">&#2547; {{product.price|floatformat:2}}</span>
                            <span class="price-old"><strike>&#2547; {{product.old_price|floatformat:2}}</strike></span>
                          </div>
                          {% if product.cupon_number %}
                          <div class="price-wrap h5">
                            <span class="price-new text-warning" >{{product.cupon_offer}}% Cupon Offer</span>
                            
                          </div>
                          {% endif %}
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                {% endif %}
                
            {% endfor %}
            
          
        </div>
      </div>
    {% endif %}
    {% endfor %}
</div>

</div>
<!-- ADVERT -->
<section class="section-advert">
    <div class="advert-layout container">
      <div class="item ">
        <img src="/media/images/promo7.jpg" alt="">
        <div class="content left">
          <span>Exclusive Sales</span>
          <h3>Spring Collections</h3>
          <a href="{% url 'App_Shop:products' %}">View Collection</a>
        </div>
      </div>
      <div class="item">
        <img src="/media/images/promo8.jpg" alt="">
        <div class="content  right">
          <span>New Trending</span>
          <h3>Designer Bags</h3>
          <a href="{% url 'App_Shop:products' %}">Shop Now </a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Payment -->
  
  <div style="background-color: white; margin: 0px;">
    <hr style="border-top: 0.5px solid gray;margin-top: 0px;">
    <div class="row site-slider" style="padding: 0px; margin: 0px;">
        <div class="col-12 slider-3" style="text-align: center;">
            <img src="/media/payment/1.png" alt="">
            <img src="/media/payment/2.png" alt="">
            <img src="/media/payment/3.png" alt="">
            <img src="/media/payment/4.png" alt="">
            <img src="/media/payment/5.png" alt="">
            <img src="/media/payment/6.png" alt="">
        </div>
        
    </div>
    <hr style="border-top: 0.5px solid gray;margin-bottom: 0px;">
  </div>
 


</div>
</main>
   <!-- Footer -->
   <footer id="footer" class="footer">
    <div class="container  ">
      <div class="footer-container row">
        <div class="footer-center ">
          <h3>INFORMATION</h3>
          <a href="{% url 'App_Shop:about' %}">About Us</a>
          <!-- <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a> -->
          <a href="{% url 'App_Shop:contact' %}">Contact Us</a>
          
        </div>
        
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            42 Dream House, Dreammy street, 7131 Dreamville, USA
          </div>
          <div>
            <a href="mailto:barnag119@gmail.com" style="text-decoration: none;">
              <span>
                <i class="fa fa-envelope"></i>
              </span>
              company@gmail.com
            </a>
            
          </div>
          <div>
            <span>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
            456-456-4512
          </div>
          <div class="payment-methods">
            <img src="./images/payment.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->
{% endblock %}
