{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
Create Product
{% endblock %}
{% block css_block %}
    <style>
        
    </style>
{% endblock %}
{% block body_block %}

    <!-- style="width: 550px; border: 1px solid #ccc; padding: 20px;" -->
    <div class="container" style="padding-bottom: 20px;margin: auto;" >
        
        <form action="" method="POST" enctype="multipart/form-data" style="width: 70%; margin: 20px auto; background-color: whitesmoke;padding: 50px;">
            <h4 style="text-align:center;">Add Product</h4>
            {{form|crispy }}
            {% csrf_token %}
            <button type="submit" name="save" class="btn btn-info" >Save</button>
            <button type="submit" name="another" class="btn btn-info">Save and Add anthor product </button>
            
        </form>
    </div>

{% endblock %}